/logs
/models

projects/absa_streaming/data
projects/absa_streaming/training_data

projects/traffic_streaming/data

.DS_Store
__pycache__/

/.vscode/
.env
.ipynb_checkpoints/
*.pyc
*.pkl
*.log
*.sqlite3
*.ckpt
*.h5
*.tfrecord
*.zip
*.venv/

/ollama